# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test

# next.js
/.next/
/.next/**
/server/
/.build-artifacts/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 음악 파일 및 앨범 이미지 (용량이 크므로 GitHub 제외)
public/musics/
public/musics_img/
public/album/

# Prisma
prisma/migrations/
prisma/erd.svg

